<div class="phonebook">
    <h1>Yufei's Phonebook</h1>
    <div class="row">
        <form class="col-xs-4" ng-submit="addPerson(name, number)">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control " id="inputName" placeholder="Enter name"
                       name="name" ng-model="name" required>
                <small class="form-text text-muted">First name followed by last name</small>
            </div>
            <div class="form-group">
                <label for="inputPhoneNumber">Phone Number</label>
                <input type="Telephone" class="form-control" id="inputPhoneNumber" placeholder="Enter phone number"
                       name="number" ng-model="number" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div ng-repeat="person in persons | startFrom:currentPage*pageSize | limitTo:pageSize">
        <ul class="list-group">
            <li class="list-group-item">Name: {{person.name}} <br>
                                        PhoneNumber: {{person.number}}</li>
        </ul>
    </div>
    <div ng-hide="persons.length == 0">
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button  ng-disabled="currentPage >= persons.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button>
    </div>
</div>

